@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.navbar-brand{
    padding-left: 10%;
    padding-right: 10%;
}

h1 h3 p {
    font-family: 'Noto Sans', sans-serif;
}

.unknowColor {
    background-color: antiquewhite;
    
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .imgGap {
        padding: 50px;
        margin: 100px;
    }

}

@media only screen and (max-width: 600px) {
    .resizesmall {
        max-width: 70;
    }
    .resizebig {
        max-width: 100;
    }
  }

  @media only screen and (min-width: 768px) {
    .resizesmall {
        max-width: 200;
        margin: 150px;
    }
    .resizebig {
        max-width: 300;
        margin: 30px;
        animation: bigScreenAnimation 10s timing-function 2s infinite alternate-reverse fill-mode;
    }
  }

  @keyframes smallScreenAnimation {
    from {background-color: red;}
    to {background-color: yellow;}
  }

  @keyframes bigScreenAnimation {
    from {max-width: 300;}
    to {max-width: 240;}
  }



#redCircircle {
    position: absolute;
    width: 209.44px;
    padding: 30px;
    height: 209.44px;
    left: 1126px;
    top: 0px;
    background-color: black;
}

.padding {
    padding-bottom: 20px;
}


.blueIcon {
    color: rgb(47, 109, 202) !important;
}

/* footer {
    bottom: 0;
    position: absolute;
} */


