@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.navbar-brand{
    padding-left: 10%;
    padding-right: 10%;
}

h1 h3 p {
    font-family: 'Noto Sans', sans-serif;
}

.unknowColor {
    background-color: antiquewhite;
    
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .imgGap {
        padding: 50px;
        margin: 100px;
    }
}

#redCircircle {
    position: absolute;
    width: 209.44px;
    padding: 30px;
    height: 209.44px;
    left: 1126px;
    top: 0px;
    background-color: black;
}

.padding {
    padding-bottom: 20px;
}


.blueIcon {
    color: rgb(47, 109, 202) !important;
}

/* footer {
    bottom: 0;
    position: absolute;
} */


